.bg-customeColor{
    background-color: black;
    color:white !important
}

.navul li a{
    color:white !important;
}
.navul li a:hover{
    text-decoration: overline;
    /* font-style: italic; */
    font-weight: 500;
}

.navul li a:active{
    color:blue;
}
.btnColor{
    background-color: white;
}

.logo{
    background-color: gray;
    border-radius: 79px;
    padding: 8px;
    font-family: cursive;
}